@model Shortener.Application.Urls.Commands.EditUrl.EditUrlCommand

<form asp-controller="Url" asp-action="Edit" method="post">
    <div><h3>Редагувати посилання</h3></div>
    <p><p></p></p>
    <div>
        <input type="hidden" asp-for="Id" value="@ViewBag.UrlDetails.Id" />
        <input type="hidden" asp-for="ShortenedUri" value="@ViewBag.UrlDetails.ShortenedUri" />
    </div>
    <div>
        <label>Заголовок</label>
        <br />
        <input asp-for="Title" value="@ViewBag.UrlDetails.Title"/>
        <span asp-validation-for="Title"></span>
        <p></p>
    </div>
    <div>
        <label>Опис (опціонально)</label>
        <br />
        @if (@ViewBag.UrlDetails.Description != null)
        {
            <input asp-for="Description" value="@ViewBag.UrlDetails.Description" />
        }
        else
        {
            <input asp-for="Description" />
        }
        <p></p>
    </div>
    <div>
        <label>Базове посилання</label>
        <br />
        <input asp-for="BaseUri" value="@ViewBag.UrlDetails.BaseUri" />
        <span asp-validation-for="BaseUri"></span>
        <p></p>
    </div>
    <div>
        <label>Скорочена частина посилання</label>
        <br />
        <input asp-for="ShortenedPartUri" value="@ViewBag.UrlDetails.UriShortenedPart" />
        <span asp-validation-for="ShortenedPartUri"></span>
        <p></p>
    </div>
    <div>
        <button type="submit" class="button">Зберегти</button>
    </div>
    <p></p>
    <a asp-controller="Url" asp-action="GetAll">Назад</a>
</form>